/**
* ! Pretendard Font Family!
*/
@font-face {
  font-family: DungGeunMo;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: KOTRAHOPE;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EliceDigitalBaeum_Bold';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Bold.woff2") format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Shilla_CultureB-Bold';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureB-Bold.woff2") format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: HackRegular;
  src: url("https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.3.0/web/fonts/hack-regular.woff2") format('woff2');
  font-weight: 500;
  font-style: normal;
}